<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toxic Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Toxic Classification</h1>
      <textarea type="text" name="" id="input" placeholder="Masukkan text disini"></textarea>
      <button onclick="proses()">Proses</button>
      <p id="hasil"></p>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
